<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <Title>Game Deals Dashboard</Title>
    </head>
    <body>
        <h1>Game Deals Dashboard</h1>
        <form class="search-panel">
            <input type="text" name="search" value="{{ search }}" placeholder="Search games">
            <input type="number" name="max_price" step="0.01" value="{{ max_price }}" placeholder="Max Price">
            <select name="sort">
                <option value="">Default</option>
                <option value="discount" {% if sort == "discount" %}selected{% endif %}>Highest discount</option>
                <option value="price" {% if sort == "price" %}selected{% endif %}>Lowest price</option>
                <option value="title"{% if sort == "title" %}selected{% endif %}>A-Z</option>
            </select>
            <select name="genre">
                <option value="">All genres</option>
                {% for genre_option in all_genres %}
                <option value="{{ genre_option }}" {% if genre == genre_option %}selected{% endif %}>{{ genre_option }}</option>
                {% endfor %}
            </select>
            <select name="store">
                <option value="">All stores</option>
                {% for store_option in all_stores %}
                <option value="{{ store_option }}" {% if store == store_option %}selected{% endif %}>{{ store_option }}</option>
                {% endfor %}
            </select>
            <button>Search</button>
            <a href="{{ url_for('export_csv', search=search, max_price=max_price, sort=sort, genre=genre, store=store) }}">
                <button type="button">Export CSV</button>
            </a>
            {% if error %}
            <div class="error-message">{{ error }}</div>
            {% endif %}
        </form>
        <hr>
        <h2>TOP DEALS:</h2>
        {% if games %}
        {% for game in games %}
        <div class="deal-row">
            <div class="deal-summary">
                <img src="{{ game.store.logo }}" alt="{{ game.store.name or "Unknown" }}" class="store-logo">
                <h3 class="deal-title {% if game.deal_url == top_deal_url %}rainbow-title{% elif game.discount >= 70 %}gold-title{% endif %}"> {{ game.title }}</h3>
                <p class="sale-price">${{ game.sale_price }}</p>
                <p class="discount">{{ game.discount }}%</p>
                <p class="expand-arrow">▼</p>
            </div>
            <div class="deal-details">
                <h3 class="full-title">{{ game.title }}</h3>
                <div class="detail-line">
                    <span class="label">Genre:</span>
                    <span class="value">{{ game.genres | join(" ,") }}</span>
                </div>
                <div class="detail-line">
                    <span class="label">Store:</span>
                    <span class="value">{{ game.store.name or "Unknown" }}</span>
                </div>
                <div class="detail-line">
                    <span class="label">Original price:</span>
                    <span value="value">{{ game.original_price }}</span>
                </div>
                <a href="{{ game.deal_url }}" target="_blank">Go to Store</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="no-results">
            <h2>NO MATCHING DEALS FOUND</h2>
            <p>Try a different search or adjust your filters.</p>
        </div>
        {% endif %}
        <div class="pagination">
            {% if prev_url %}
            <a href="{{ prev_url }}"><button>◀ PREVIOUS</button></a>
            {% endif %}
            <span>Page {{ page }}/{{ total_pages }}</span>
            {% if next_url %}
            <a href="{{ next_url }}"><button>NEXT ▶</button></a>
            {% endif %}
        </div>
    </body>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
