<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
        <Title>Game Deals Dashboard</Title>
    </head>
    <body>
        <h1>Game Deals Dashboard</h1>
        {% if best_deal %}
        <div class="top-deal">
            <h2> Deal of the day!</h2>
            <h3>{{ best_deal.title }}</h3>
            <p>Price: ${{best_deal.sale_price }}</p>
            <p>Discount: {{  best_deal.discount }}%</p>
        </div>
        <hr>
        {%  endif %}
        <form>
            <input type="text" name="search" value="{{ search }}" placeholder="Search games">
            <input type="number" name="max_price" step="0.01" value="{{ max_price }}" placeholder="Max Price">
            <select name="sort">
                <option value="">Default</option>
                <option value="discount" {% if sort == "discount" %}selected{% endif %}>Highest discount</option>
                <option value="price" {% if sort == "price" %}selected{% endif %}>Lowest price</option>
                <option value="title"{% if sort == "title" %}selected{% endif %}>A-Z</option>
            </select>
            <select name="genre">
                <option value="">All genres</option>
                {% for genre_option in all_genres %}
                <option value="{{ genre_option }}" {% if genre == genre_option %}selected{% endif %}>{{ genre_option }}</option>
                {% endfor %}
            </select>
            <button>Search</button>
            <a href="/export">
                <button type="button">Export CSV</button>
            </a>
        </form>
        <hr>
        <h2>Featured Games:</h2>
        {% for game in games %}
        <div class="deal-row">
            <div class="deal-summary" onclick="ToggleDetails(this)">
                <img class="store-logo" src="{{ game.store.logo }}" alt="{{ game.store.name }}">
                <div class="game-info">
                    {% if game.discount >= 70 %}
                    <span class="gold-deal"> Best deal!</span>
                    {% endif %}
                    <h3>{{ game.title }}</h3>
                    <p>${{ game.sale_price }}</p>
                </div>
                <div class="discount">
                    {{ game.discount }}
                    <span class="arrow">▼</span>
                </div>
            </div>
            <div class="deal-details hidden">
                <p>Original price: ${{ game.original_price }}</p>
                <p>Store: {{ game.store.name }}</p>
                <p>Genres: {{ game.genres | join(", ")}}</p>
                <a class="buy-button" href="{{ game.deal_url }}" target="_blank">INSERT COIN -> BUY GAME</a>
            </div>
        </div>
        {% endfor %}
    </body>
    <script>
        function toggleDetails(summary)
        {
            let details=summary.nextElementSibling;
            details.classList.toggle("hidden");
        }
    </script>
</html>
